.FavoriteButton {
  background: var(--red);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 135px;
  color: var(--white);
  border: 1px solid var(--red);
  padding: 6px 25px;
}
